<template>
	<div :class="['searchWrapper', theme]">
		<input v-model="user" @keyup.enter="submit" @input="changed($event.target.value)" spellcheck="false" placeholder="Type in a gamertag...">
		<!--<input class="placeholderText" disabled placeholder="Type in a gamertag..."/>-->
		<ul v-if="users.length > 0">
			<li v-for="(item,index) in users" @click="clicked" :key="item.id">{{ item.gamertag }}</li>
		</ul>
	</div>
</template>

<script>
	import axios from '~/plugins/axios.js'

	export default {
		data() {
			return {
				users:           [],
				selectedFavHero: ''
			}
		},
		props:    {
			value:         {
				type:    String,
				default: ''
			},
			minLength:     {
				type:    Number,
				default: 5
			},
			theme:         {
				type:    String,
				default: 'default'
			},
			searchOnEnter: {
				type:    Boolean,
				default: false
			}
		},
		computed: {
			user: {
				get() {
					return this.value
				},
				set(value) {
					this.$emit('input', value)
				}
			}
		},
		methods:  {
			changed: async function(value) {
				if (value.length < this.minLength) {
					this.value = ''
					this.users = []
					return
				}
				let data = await axios.get('/v1/autocomplete/' + value)
				data = JSON.parse(data.data)
				this.users = data.data
			},
			submit:  function() {
				if (this.searchOnEnter) {
					this.$router.push({name: 'user-gamertag', params: {gamertag: this.user}})
				}
			},
			clicked: function(e) {
				this.user = e.target.innerText
				this.users = []
				this.$el.children[0].focus()
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../assets/css/theme';

	.searchWrapper.default {
		input {
			color: black;
			width: 100%;
			height: 32px;
			outline: 0;
			background: transparent;
			border: 0;
			border-bottom: 2px solid map-get($default, primary-color);
			transition: all 0.3s ease;
		}
		input:focus {
			border-bottom: 2px solid map-get($default, accent-color);
		}
		input::-webkit-input-placeholder {
			color: black;
		}
		input::-moz-placeholder {
			color: black;
		}
		input:-ms-input-placeholder {
			color: black;
		}
		input::placeholder {
			color: black;
		}
		ul {
			background-color: white;
			list-style: none;
			line-height: 40px;
			padding: 0;
			margin: 0;
			li {
				padding-left: 5px;
				text-align: left;
				height: 40px;
			}
			li:hover {
				background-color: rgba(0, 0, 0, 0.2);
				cursor: pointer;
			}
			li.highlighted {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	.searchWrapper.alt {
		input {
			color: white;
			width: 100%;
			height: 32px;
			outline: 0;
			background: transparent;
			border: 0;
			border-bottom: 2px solid map-get($dark, secondary-color);
			transition: all 0.3s ease;
		}
		input:focus {
			border-bottom: 2px solid map-get($dark, primary-color);
		}
		input::-webkit-input-placeholder {
			color: white;
		}
		input::-moz-placeholder {
			color: white;
		}
		input:-ms-input-placeholder {
			color: white;
		}
		input::placeholder {
			color: white;
		}
		ul {
			background-color: white;
			list-style: none;
			line-height: 40px;
			padding: 0;
			margin: 0;
			li {
				padding-left: 5px;
				text-align: left;
				height: 40px;
			}
			li:hover {
				background-color: rgba(0, 0, 0, 0.2);
				cursor: pointer;
			}
			li.highlighted {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}
</style>
