<template>
	<footer v-bind:class="theme">
		<span>&copy; 2017 thearcana.gg. Data based on GoGigantic.</span>
	</footer>
</template>

<script>
	export default {
		props: {
			theme: {
				type:    String,
				default: 'default'
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../assets/css/theme';

	footer.default {
		font-family: 'Roboto', sans-serif;
		height: 54px;
		background-color: map-get($default, primary-color);
		text-align: center;
		span {
			line-height: 54px;
		}
	}

	footer.alt {
		font-family: 'Roboto', sans-serif;
		height: 54px;
		background-color: map-get($dark, secondary-color);
		text-align: center;
		span {
			line-height: 54px;
		}
	}
</style>
