<template>
	<header v-bind:class="theme">
		<nav>
			<nuxt-link to="/"><h1>thearcana.gg</h1></nuxt-link>
			<ul class="right">
				<li>
					<nuxt-link to="/news">News</nuxt-link>
				</li>
				<li>
					<nuxt-link to="/leaderboard">Leaderboard</nuxt-link>
				</li>
				<li>
					<nuxt-link to="/team-signup">Team Registration</nuxt-link>
				</li>
			</ul>
		</nav>
	</header>
</template>

<script>
	export default {
		props: {
			theme: {
				type:    String,
				default: 'default'
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../assets/css/theme';

	header.default {
		flex-grow: 0;
		display: flex;
		user-select: none;
		font-family: 'Roboto', sans-serif;
		background-color: white;
		color: map-get($default, primary-color);
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		nav {
			display: flex;
			flex-flow: row;
			width: 100%;
			line-height: 64px;
			a {
				flex: 1;
				text-decoration: none;
				color: map-get($default, primary-color);
			}
			h1 {
				font-size: 24px;
				padding: 0;
				margin: 0;
				padding-left: 10px;
			}
			ul {
				display: inline-block;
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					-webkit-transition: background-color .3s;
					transition: background-color .3s;
					float: left;
					padding: 0;
					a {
						-webkit-transition: background-color .3s;
						transition: background-color .3s;
						font-size: 16px;
						display: block;
						padding: 0 15px;
						cursor: pointer;
					}
					a:hover {
						background-color: rgba(42, 132, 218, 0.2)
					}
				}
			}
		}
	}

	header.alt {
		flex-grow: 0;
		display: flex;
		user-select: none;
		background-color: white;
		font-family: 'Roboto', sans-serif;
		color: map-get($dark, primary-color);
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		nav {
			display: flex;
			flex-flow: row;
			width: 100%;
			line-height: 64px;
			a {
				flex: 1;
				text-decoration: none;
				color: map-get($dark, primary-color);
			}
			h1 {
				font-size: 24px;
				padding: 0;
				margin: 0;
				padding-left: 10px;
			}
			ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
				li {
					-webkit-transition: background-color .3s;
					transition: background-color .3s;
					float: left;
					padding: 0;
					a {
						-webkit-transition: background-color .3s;
						transition: background-color .3s;
						font-size: 16px;
						display: block;
						padding: 0 15px;
						cursor: pointer;
					}
					a:hover {
						background-color: rgba(42, 132, 218, 0.2)
					}
				}
			}
		}
	}
</style>
