<template>
	<div class="background">
		<section class="container">
			<div class="playerInfoWrapper">
				<div class="playerInfoHeader">
					<div class="headerFavHero">
						<img :src='"~/assets/img/heros/" + playerData.favorite_hero + ".jpg"'>
					</div>
					<div class="playerName">
						<h1>{{ playerData.gamertag }}</h1>
						<h2>Rank {{ playerData.rank }}</h2>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import axios from '~/plugins/axios.js'

	export default {
		data() {
			return {
				baseUrl: '~/assets/img/heros/'
			}
		},
		async asyncData({params, error}) {
			try {
				let heroData = await axios.get('/v1/users/' + encodeURIComponent(params.gamertag))
				let playerData = await axios.get('/v1/playerData/' + encodeURIComponent(params.gamertag))
				return {heroData: heroData.data[params.gamertag], playerData: playerData.data[0]}
			} catch (e) {
				console.log(e)
				error({message: 'User not found', statusCode: 404})
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../../assets/css/theme';

	.background {
		width: 100%;
		background-color: #164453;
		min-height: 100%;
		padding-top: 1px;
		margin-top: -1px;
		padding-bottom: 1px;
		margin-bottom: -1px;
	}

	.container {
		margin: 0 auto;
		width: 85%;
	}

	.playerInfoWrapper {
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		height: 100%;
		min-height: 100vh;
	}

	.playerInfoHeader {
		-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		background-color: white;
		position: relative;
		overflow: hidden;
		.headerFavHero {
			float: left;
			margin: 10px;
			img {
				width: 100px;
				-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
				box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
			}
		}
		h1, h2 {
			margin: 0;
			margin-top: 10px;
			padding: 0;
		}
	}
</style>
