@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
	width: 5px;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
	background-color: map-get($default, primary-color);
	outline: 1px solid map-get($default, secondary-color);
}

.right {
	float: right;
}

main {
	flex-grow: 1;
}
