<template>
	<div class="wrapper">
		<navi theme="alt"/>
		<main>
			<nuxt/>
		</main>
		<copyright theme="alt"/>
	</div>
</template>

<script>
	import navi from '~/components/Header.vue'
	import copyright from '~/components/Footer.vue'

	export default {
		components: {
			navi,
			copyright
		}
	}
</script>

<style lang="scss" scoped>
	@import '../assets/css/theme';

	body {
		font-family: 'Roboto', sans-serif;
	}

	body::-webkit-scrollbar {
		width: 5px;
	}

	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}

	body::-webkit-scrollbar-thumb {
		background-color: map-get($dark, primary-color);
		outline: 1px solid map-get($dark, secondary-color);
	}

	a, a:hover, a:focus, a:visited {
		color: map-get($dark, primary-color);
		text-decoration: none;
	}

	.wrapper {
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-flow: column;
	}
</style>
