<template>
	<div class="wrapper">
		<navi/>
		<main>
			<nuxt/>
		</main>
		<copyright/>
	</div>
</template>

<script>
	import navi from '~/components/Header.vue'
	import copyright from '~/components/Footer.vue'

	export default {
		components: {
			navi,
			copyright
		}
	}
</script>

<style lang="scss" scoped>
	.wrapper {
		width: 100%;
		min-height: 100vh;
		display: flex;
		flex-flow: column;
	}
</style>
