<template>
	<div class="background">
		<section class="container">
			<autocomplete v-model="value" theme="alt" v-bind:searchOnEnter="true"></autocomplete>
		</section>
	</div>
</template>

<script>
	import autocomplete from '~/components/Autocomplete'

	export default {
		layout:     'corruption',
		components: {
			autocomplete
		},
		data() {
			return {
				value: ''
			}
		}
	}
</script>

<style lang="scss" scoped>
	.background {
		width: 100%;
		background-image: url(../assets/img/corruption_update.jpg);
		background-position: center;
		background-size: cover;
	}

	.container {
		position: relative;
		margin: 0 auto;
		width: 85%;
		text-align: center;
		height: 100vh;
	}

	.searchWrapper {
		position: absolute;
		width: 40vw;
		top: 10%;
		left: 50%;
		transform: translateX(-20vw);
	}
</style>
