<template>
	<div class="background">
		<section class="container">
			<div class="formWrapper">
				<form>
					<div class="row">
						<h1>GA Team Registration</h1>
						<div class="group one">
							<span>Server</span>
							<ul>
								<li>
									<input type="radio" id="na" value="NA" v-model="server" checked>
									<label for="na">NA</label>
									<div class="check"></div>
								</li>
								<li>
									<input type="radio" id="eu" value="EU" v-model="server">
									<label for="eu">EU</label>
									<div class="check">
										<div class="inside"></div>
									</div>
								</li>
							</ul>
						</div>
						<div class="group input-field two">
							<input v-model="teamName" type="text" name="teamName" placeholder="Team Name" autofocus>
						</div>
					</div>
					<div class="row">
						<div class="group input-field three">
							<input v-model="teamCaptain" type="text" name="teamCaptain" placeholder="Team Captain">
						</div>
						<div class="group input-field four">
							<input v-model="captainDiscord" type="text" name="captainDiscord" placeholder="Team Captain Discord">
						</div>
					</div>
					<div class="row">
						<ul class="collection">
							<li class="collection-header">
								<h2>Roster</h2>
								<a class="btn" @click="showAddModal">Add Player</a>
							</li>
							<li class="collection-item">
								Player
								<span class="heading">Sub</span>
							</li>
							<li class="collection-item" v-for="(player, index) in roster" :key="player.id">
								{{ player.gamertag }}
								<p class="secondary-content">
									<input type="checkbox" class="filled" :id="index" v-model="player.sub" :checked="player.sub">
									<label :for="index"></label>
								</p>
							</li>
						</ul>
					</div>
				</form>
				<div class="submitWrapper">
					<div class="submitBtn">
						<a class="btn" @click="addTeam">Register for GA!</a>
					</div>
				</div>
				<transition name="fade">
					<div class="successBanner" v-if="showBanner">
						<h1>Your team has been successfully registered. See you on the airship!</h1>
					</div>
				</transition>
				<div class="modal" v-if="addPlayerShow">
					<div class="modal-header">
						<h1>Add Player to Roster</h1>
					</div>
					<div class="modal-content">
						<span>Please add a max of <b>7</b> players to your roster. 5 active players and 2 subs.</span>
						<autocomplete v-model="value" theme="default"></autocomplete>
						<div class="btns">
							<a class="btn" @click="addPlayerShow = !addPlayerShow">Cancel</a>
							<a class="btn" @click="addPlayer">Add</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import axios from '~/plugins/axios.js'
	import autocomplete from '~/components/Autocomplete'

	export default {
		components: {
			autocomplete
		},
		data() {
			return {
				roster:         [],
				addPlayerShow:  false,
				showBanner:     false,
				value:          '',
				sub:            false,
				server:         'NA',
				teamName:       '',
				teamCaptain:    '',
				captainDiscord: ''
			}
		},
		methods:    {
			showAddModal: function() {
				this.addPlayerShow = !this.addPlayerShow
				this.value = ''
			},
			addPlayer:    function() {
				this.roster.push({gamertag: this.value, sub: false})
				this.addPlayerShow = false
			},
			addTeam:      async function() {
				var _self = this
				var team = {
					server:         _self.server,
					teamName:       _self.teamName,
					teamCaptain:    _self.teamCaptain,
					captainDiscord: _self.captainDiscord,
					roster:         []
				}
				team.roster = _self.roster
				let request = await axios.post('/v1/team/', team)
				if (request.data.result.ok === 1) {
					_self.roster = []
					_self.server = 'NA'
					_self.teamName = ''
					_self.teamCaptain = ''
					_self.captainDiscord = ''
					_self.showBanner = true
				}
				setTimeout(function() {
					_self.showBanner = false
				}, 3000)
			}
		}
	}
</script>

<style lang="scss" scoped>
	@import '../assets/css/theme';

	.fade-enter-active, .fade-leave-active {
		transition: opacity .5s
	}

	.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
	{
		opacity: 0
	}

	.background {
		width: 100%;
		background-color: #164453;
		min-height: 100%;
		padding-top: 1px;
		margin-top: -1px;
		padding-bottom: 1px;
		margin-bottom: -1px;
	}

	.container {
		margin: 0 auto;
		width: 85%;
	}

	.formWrapper {
		position: relative;
		background-color: white;
		-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		margin-top: 20px;
		margin-bottom: 20px;
		height: 100%;
		min-height: 100vh;
	}

	.row {
		width: 100%;
	}

	.group {
		display: inline-block;
		width: 33.33%;
		margin-left: 8.33%;
	}

	form {
		h1 {
			padding: 20px;
		}
	}

	.input-field {
		input {
			width: 100%;
			height: 30px;
			margin-top: 25px;
			border: none;
			border-bottom: 2px solid map-get($default, primary-color);
			outline: none;
			transition: all 0.3s ease;
		}
		input:focus {
			border-bottom: 2px solid map-get($default, accent-color);
		}
	}

	.one {
		width: 33.33%;
		margin-left: 8.33%;
		float: left;
		span {
			position: absolute;
		}
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			overflow: auto;
		}

		ul li {
			color: map-get($default, primary-color);
			position: relative;
			float: left;
		}

		ul li input[type=radio] {
			position: absolute;
			visibility: hidden;
		}

		ul li label {
			display: block;
			position: relative;
			font-weight: 300;
			font-size: 1.35em;
			padding: 25px 25px 25px 80px;
			margin: 10px auto;
			height: 30px;
			z-index: 9;
			cursor: pointer;
			transition: all 0.25s linear;
			-webkit-transition: all 0.25s linear;
		}

		ul li:hover label {
			color: map-get($default, accent-color);
		}

		ul li .check {
			display: block;
			position: absolute;
			border: 5px solid map-get($default, primary-color);
			border-radius: 100%;
			height: 25px;
			width: 25px;
			top: 30px;
			left: 20px;
			z-index: 5;
			transition: border .25s linear;
			-webkit-transition: border .25s linear;
		}

		ul li:hover .check {
			border: 5px solid map-get($default, accent-color);
		}

		ul li .check::before {
			display: block;
			position: absolute;
			content: '';
			border-radius: 100%;
			height: 15px;
			width: 15px;
			top: 5px;
			left: 5px;
			margin: auto;
			transition: background 0.25s linear;
			-webkit-transition: background 0.25s linear;
		}

		input[type=radio]:checked ~ .check {
			border: 5px solid map-get($default, accent-color);
		}

		input[type=radio]:checked ~ .check::before {
			background: map-get($default, accent-color);
		}

		input[type=radio]:checked ~ label {
			color: map-get($default, accent-color);
		}
	}

	.two {
		width: 33.33%;
		margin-left: 16.66%;
		display: inline-block;
		height: 100px;
		align-content: center;
	}

	.four {
		margin-left: 16.66%;
	}

	.collection {
		padding-left: 0;
		list-style-type: none;
		margin: .5rem 0 1rem 0;
		border: 1px solid #e0e0e0;
		border-radius: 2px;
		overflow: hidden;
		position: relative;
		margin-bottom: 75px;
		.collection-header {
			background-color: #fff;
			border-bottom: 1px solid #e0e0e0;
			padding: 10px 20px;
		}
		.collection-item {
			background-color: #fff;
			line-height: 1.5rem;
			padding: 10px 20px;
			margin: 0;
			border-bottom: 1px solid #e0e0e0;
		}
		.heading {
			float: right;
			margin-right: 25px;
		}
		.secondary-content {
			float: right;
			margin: 0;
			padding: 0;
			margin-right: 17px;
			.filled {
				position: absolute; // take it out of document flow
				opacity: 0; // hide it

				& + label {
					position: relative;
					cursor: pointer;
					padding: 0;
				}

				// Box.
				& + label:before {
					content: '';
					margin-right: 10px;
					display: inline-block;
					vertical-align: text-top;
					width: 20px;
					height: 20px;
					border: 2px solid grey;
					border-radius: 2px;
					background: white;
				}

				// Box checked
				&:checked + label:before {
					background: map-get($default, accent-color);
				}

				// Checkmark. Could be replaced with an image
				&:checked + label:after {
					content: '';
					position: absolute;
					left: 7px;
					top: 11px;
					background: white;
					width: 2px;
					height: 2px;
					box-shadow: 2px 0 0 white,
					4px 0 0 white,
					4px -2px 0 white,
					4px -4px 0 white,
					4px -6px 0 white,
					4px -8px 0 white;
					transform: rotate(45deg);
				}
			}
		}
	}

	.btn {
		user-select: none;
		cursor: pointer;
		color: #fff;
		background-color: map-get($default, primary-color);
		text-align: center;
		letter-spacing: .5px;
		border: none;
		border-radius: 2px;
		display: inline-block;
		height: 36px;
		line-height: 36px;
		padding: 0 2rem;
		text-transform: uppercase;
		vertical-align: middle;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
		transition: all 0.3s ease;
	}

	.btn:hover {
		background-color: map-get($default, secondary-color);
	}

	.modal {
		position: fixed;
		z-index: 99;
		left: 50%;
		top: 40%;
		width: 20vw;
		transform: translate(-10vw, -20vh);
		background-color: white; /* Black w/ opacity */
		-webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
		box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
		.modal-header {
			height: 54px;
			border-bottom: 2px solid rgba(0, 0, 0, 0.4);
			h1 {
				padding: 0;
				margin: 0;
				margin-left: 20px;
				line-height: 54px;
			}
		}
		.modal-content {
			margin: 5% auto;
			width: 80%; /* Could be more or less, depending on screen size */
			span {
				font-size: 14px;
			}
			.btns {
				position: relative;
				bottom: 0;
				right: 0;
				height: 5vh;
				margin-bottom: 15px;
			}
			.btn {
				margin-top: 10px;
				margin-left: 10px;
				padding: 0 1rem;
				float: right;
			}
		}
	}

	.submitWrapper {
		position: absolute;
		bottom: 10px;
		width: 100%;
		.submitBtn {
			margin: 0 auto;
			width: 50vw;
			text-align: center;
			.btn {
				width: 100%;
			}
		}
	}

	.successBanner {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 50px;
		background-color: map-get($default, primary-color);
		text-align: center;
		-webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
		z-index: 100;
		h1 {
			margin: 0;
			padding: 0;
			line-height: 50px;
		}
	}
</style>
